src/main/resources/paises.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://thaisrezendeb.com.br/wsdlserver/assets" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://thaisrezendeb.com.br/wsdlserver/assets" targetNamespace="http://thaisrezendeb.com.br/wsdlserver/assets">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://thaisrezendeb.com.br/wsdlserver/assets">

    <xs:element name="getPaisRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPaisResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pais" type="tns:pais"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="pais">
        <xs:sequence>
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="populacao" type="xs:int"/>
            <xs:element name="capital" type="xs:string"/>
            <xs:element name="moeda" type="tns:moeda"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="moeda">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GPB"/>
            <xs:enumeration value="EUR"/>
            <xs:enumeration value="BRL"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPaisRequest">
    <wsdl:part element="tns:getPaisRequest" name="getPaisRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaisResponse">
    <wsdl:part element="tns:getPaisResponse" name="getPaisResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaisesPort">
    <wsdl:operation name="getPais">
      <wsdl:input message="tns:getPaisRequest" name="getPaisRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPaisResponse" name="getPaisResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaisesPortSoap11" type="tns:PaisesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPais">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPaisRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaisResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaisesPortService">
    <wsdl:port binding="tns:PaisesPortSoap11" name="PaisesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>